<div class="container-fluid">
    <div class="row">
        <div class="col">
            <img src="{{ asset('/images/tricks/'~image.pathTrickImage) }}" id="img-preview" />
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form(form) }}
        </div>
    </div>
</div>